# App
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="mongodb://localhost:27017/muevete-cb?directConnection=true"

# Swagger
SWAGGER_TITLE="Muévete CB API"
SWAGGER_DESCRIPTION="Sistema comunitario de incidentes de movilidad para Bogotá"
SWAGGER_VERSION="1.0"